{# /cases/:caseId/details #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}



{% set defendantsValue %}
  {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
  {% if _case.defendants.length > 1 %}
    and {{_case.defendants.length - 1}} more
  {% endif %}
{% endset %}

{# {% set pageName = 'Details' %} #}
{% set pageName = defendantsValue %}
  
{% block beforeContent %}
  {# {% include "_shared/_includes/case/identity-bar.njk" %} #}
{% endblock %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters"> 
      <span class="govuk-caption-m">{{_case.reference}}</span>
      <h1 class="govuk-heading-m">{{defendantsValue}}</h1>
    </div>
  

    <div class="govuk-grid-column-full">
      {% include "_shared/_includes/case/details/main-tabs.njk" %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
(function () {
  // Scroll banner into view after all scripts (including govuk-tabs hash handling) have run
  window.addEventListener('load', function () {
    var banner = document.querySelector('.govuk-notification-banner--success');
    if (banner) {
      window.scrollTo(0, 0);
      banner.focus();
    }
  });

  // Banner link: reveal charge detail row and focus Prepare victim letter
  document.addEventListener('click', function (e) {
    var link = e.target.closest('.js-banner-charge-link');
    if (!link) return;
    e.preventDefault();
    var chargeId = link.dataset.chargeId;
    var prepareLink = document.getElementById('prepare-victim-letter-' + chargeId);
    if (!prepareLink) return;

    var detailRow = prepareLink.closest('tr');
    if (detailRow && detailRow.hidden) {
      detailRow.hidden = false;
      var toggle = document.querySelector('[data-target="' + detailRow.id + '"]');
      if (toggle) {
        toggle.setAttribute('aria-expanded', 'true');
        toggle.firstChild.textContent = 'Hide ';
      }
    }
    prepareLink.focus();
  });
})();
</script>
{% endblock %}




