{# app/views/cases/indictment/index #}

{% extends "_shared/layouts/main.html" %}
{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Indictments' %}

{% block beforeContent %}
  {% include "_shared/_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_shared/_includes/success-banner.njk" %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">You have not created any indictments for this case</p>

      {# <div class="govuk-button-group">
        <a href="/cases/{{ _case.id }}/indictment/counts/charges" class="govuk-button">
          Build indictment
        </a>
      </div> #}

      {# ------------------------------------------------------------
         Task list
         ------------------------------------------------------------ #}

      {{ govukTaskList({
        idPrefix: "indictment-tasks",
        items: [
          {
            title: { text: "Add police charges" },
            href: "/cases/" + _case.id + "/indictment/counts/charges",
            status: { tag: { text: "Not started", classes: "govuk-tag--grey" } }
          },
          {
            title: { text: "Add offence and particulars" },
            href: "/cases/" + _case.id + "/indictment/counts/charges",
            status: { tag: { text: "Not started", classes: "govuk-tag--grey" } }
          },
          {
            title: { text: "Add defendants" },
            href: "/cases/" + _case.id + "/indictment/defendants",
            status: { tag: { text: "Not started", classes: "govuk-tag--grey" } }
          },
          {
            title: { text: "Add victims" },
            href: "/cases/" + _case.id + "/indictment/victims",
            status: { tag: { text: "Not started", classes: "govuk-tag--grey" } }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
