{# app/views/v2/cases/material/generate-cps-documents/case-documents.html #}

{% extends "_shared/layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'materials' %}

{% set pageName = 'Case documents' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/" ~ _case.id ~ "/material/generate-cps-documents"
  }) }}
{% endblock %}

{% block content %}

  {% include "_shared/_includes/success-banner-safe.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">{{ _case.reference }} - Generate CPS documents</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set docs = caseMaterialsGenerateDocuments or data.caseMaterialsGenerateDocuments or {} %}
      {% set caseDocs = docs.caseDocuments or [] %}

      {% set checkboxItems = [] %}
      {% for doc in caseDocs %}
        {# {% set hintText = ("Last generated: " + doc.lastGenerated) if doc.lastGenerated else "Not previously generated" %} #}
        {% set checkboxItems = (checkboxItems.push({
          value: doc.id,
          text: doc.label,
          hint: { text: hintText }
        }), checkboxItems) %}
      {% endfor %}

      <form method="post" action="">

        {% if caseDocs.length == 0 %}
          <p class="govuk-body">There are no case documents available.</p>
        {% else %}
          {{ govukCheckboxes({
            name: "selectedDocuments",
            fieldset: {
              legend: {
                text: "Select the documents you want to generate",
                classes: "govuk-fieldset__legend--m govuk-visually-hidden"
              }
            },
            items: checkboxItems
          }) }}
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
          <a class="govuk-link" href="/cases/{{ _case.id }}/material?tab=view-materials">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
