{# app/views/v2/cases/material/generate-cps-documents/defendants-documents.html #}

{% extends "_shared/layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'materials' %}
{% set pageName = 'Defendant documents' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/" ~ _case.id ~ "/material/generate-cps-documents/defendants"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-m">Add defendant documents - {{ _case.reference }}</span>

      {% set documents = selectedDefendant.documents or [] %}

      <form method="post" action="">

        <input type="hidden" name="returnUrl" value="{{ query.returnUrl }}">

        {% if documents.length == 0 %}
          <h1 class="govuk-heading-l">Add defendant documents</h1>
          <p class="govuk-body">There are no documents available for this defendant.</p>
        {% else %}

          {% set documentItems = [] %}
          {% for doc in documents %}
            {% if doc.previouslyGenerated %}
              {% set hintText = "Last generated: " ~ (doc.previouslyGenerated | govukDateTime) %}
            {% else %}
              {% set hintText = "Not previously generated" %}
            {% endif %}
            {% set documentItems = (documentItems.push({
              value: doc.id,
              text: doc.label,
              hint: { text: hintText }
            }), documentItems) %}
          {% endfor %}

          {{ govukCheckboxes({
            name: "selectedDefendantDocuments",
            fieldset: {
              legend: {
                text: "Which documents do you need for " + selectedDefendant.name + "?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: documentItems
          }) }}

        {% endif %}

        {# Only show the "add another defendant" radios if there is another defendant remaining and we are not returning to check #}
        {% if hasMoreDefendants and not query.returnUrl %}
          {{ govukRadios({
            name: "addAdditionalDefendant",
            fieldset: {
              legend: {
                text: "Do you want to add documents for another defendant?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m govuk-!-margin-top-6"
              }
            },
            items: [
              { value: "yes", text: "Yes" },
              { value: "no", text: "No" }
            ]
          }) }}
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
          <a class="govuk-link"
             href="/cases/{{ _case.id }}/material?tab=view-materials">
            Cancel
          </a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}