{# /cases/:caseId/charges/edit/date #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = "Edit charge - " + defendant.firstName + " " + defendant.lastName + " - " + _case.reference %}
{% set pageName = "When was the offence committed?" %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m">{{ captionName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        

        {{ govukRadios({
          name: "dateType",
          fieldset: {
            legend: {
              text: "When was the offence committed?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "singleDate",
              text: "A single date",
              checked: data["dateType"] == "singleDate"
            },
            {
              value: "multipleDates",
              text: "Multiple dates",
              checked: data["dateType"] == "multipleDates"
            }
          ]
        }) }}

        
        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
