{# v2/cases/:caseId/charges/add/do-you-want-to-add-address #}
{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set bodyClasses = "dcf-materials-wide" %}

{% set captionName = "Add charge - " + defendant.firstName + " " + defendant.lastName %}

{% block content %}
  {% include "_shared/_includes/case/dcf-navigation.njk" %}

  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% call govukFieldset({
          legend: {
            html: '<span class="govuk-caption-m">' + captionName + '</span>Do you want to add an address for the offence?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukRadios({
            idPrefix: "add-offence-address",
            name: "addOffenceAddress",
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ],
            selectedValue: data.addOffenceAddress if data.addOffenceAddress else ""
          }) }}

        {% endcall %}

        <div class="govuk-!-margin-top-6">
          {{ govukButton({ text: "Continue" }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
