{% block footer %}
  {% set footerHtml %}

    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-!-font-size-16">Email: <a href="#">help@cps.gov.uk</a><br>
      You’ll get a response within 5 working days.
    </p>

    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      {# <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-data?returnUrl={{path}}">
          Clear data
        </a>
      </li> #}
      {% if _case and _case.factualSummaryRedacted %}
        <li class="govuk-footer__inline-list-item">
          <form method="post" action="/cases/{{ _case.id }}/outline/reset-redaction" class="dcf-undo-form">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {# URL hashes never reach the server, so path alone can't carry
               back to the Outline tab — set it explicitly since that's
               where the redacted content this button undoes actually is. #}
            <input type="hidden" name="returnTo" value="{{ path }}#case-outline">
            <button type="submit" class="govuk-footer__link dcf-footer-reset-button">
              Reset redaction (testing)
            </button>
          </form>
        </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/accessibility">
          Accessibility
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/static">
          Static pages
        </a>
      </li>
    </ul>
  {% endset %}

  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}
{% endblock %}