{# app/views/_shared/_includes/success-banner-safe.njk #}

{% if successBanner is defined and successBanner %}
  {% set title = "Success" %}
  {% if successBanner.titleText is defined and successBanner.titleText %}
    {% set title = successBanner.titleText %}
  {% endif %}

  <div class="govuk-notification-banner govuk-notification-banner--success"
       role="alert"
       aria-labelledby="govuk-notification-banner-title"
       data-module="govuk-notification-banner"
       tabindex="-1">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        {{ title }}
      </h2>
    </div>

    <div class="govuk-notification-banner__content">
      {% if successBanner.chargeId is defined and successBanner.chargeId %}
        <p class="govuk-notification-banner__heading">
          <a class="govuk-notification-banner__link js-banner-charge-link"
             href="#"
             data-charge-id="{{ successBanner.chargeId }}">Charge {{ successBanner.chargeCode }} for {{ successBanner.defendantName }} discontinued</a>
        </p>
      {% elif successBanner.text is defined and successBanner.text %}
        <p class="govuk-notification-banner__heading">{{ successBanner.text }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}