{# cases/disclosure/assess-non-sensitive/sign-and-export-disclosure-documents.html #}

{% extends "_shared/layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}


{% set cm = caseMaterials or data.caseMaterials or {} %}


{# Pick up the selected row using the id in the query string #}
{# Row is now resolved in the route and passed in #}
{% set selectedId = selectedId or (query.id if query) %}
{% set selected = selectedRow or {} %}






{# -------------------------
   Defendants display value
   ------------------------- #}
{% set firstDefendant = (_case.defendants | first) %}

{% set defendantsValue %}
  {% if firstDefendant %}
    {{ firstDefendant.firstName }} {{ firstDefendant.lastName }}
    {% if _case.defendants.length > 1 %}
      and {{ _case.defendants.length - 1 }} more
    {% endif %}
  {% else %}
    {{ _case.reference }}
  {% endif %}
{% endset %}

{% set pageName = 'Sign and export disclosure documents' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: (query.returnUrl if query and query.returnUrl else "javascript:window.history.back()")
  }) }}
{% endblock %}



{% block content %}

  {% include "_shared/_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">{{ _case.reference }} - {{ defendantsValue }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">The following documents will be signed with your name and exported as case documents:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Schedule of non-sensitive unused material
        </li>
        <li>
         Schedule of sensitive unused material
        </li>
        <li>
          Disclosure Officer's report
        </li>
      </ul>

   

    <form method="post" action="/cases/{{ _case.id }}/disclosure/assess-non-sensitive/sign-and-export-disclosure-documents">

      <input type="hidden" name="id" value="{{ selectedId }}">

      {% if returnUrl %}
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
      {% elseif query and query.returnUrl %}
        <input type="hidden" name="returnUrl" value="{{ query.returnUrl }}">
      {% endif %}


      <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm"
          }) }}
      
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary"
        }) }}
      
      </div>

     
    </form>

      
    </div>
  </div>
{% endblock %}


