{# cases/disclosure/assess-non-sensitive/index.html #}

{% extends "layouts/main.html" %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}


{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}


{% set cm = caseMaterials or {} %}
{% set materials = cm.Material or [] %}
{% set firstMaterial = materials | first %}



{# -------------------------
   Defendants display value
   ------------------------- #}
{% set firstDefendant = (_case.defendants | first) %}

{% set defendantsValue %}
  {% if firstDefendant %}
    {{ firstDefendant.firstName }} {{ firstDefendant.lastName }}
    {% if _case.defendants.length > 1 %}
      and {{ _case.defendants.length - 1 }} more
    {% endif %}
  {% else %}
    {{ _case.reference }}
  {% endif %}
{% endset %}

{% set pageName = 'Assess non-sensitive materials' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/" ~ _case.id ~ "/material?tab=disclosure"
  }) }}
{% endblock %}





{% block content %}

  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data.successBanner %}
        {{ govukNotificationBanner({
          type: "success",
          titleText: data.successBanner.titleText or "Success",
          text: data.successBanner.text or ""
        }) }}
      {% endif %}



      <span class="govuk-caption-m">{{ _case.reference }} - {{ defendantsValue }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
      
        {# Bulk actions – placeholders only (no row context here) #}
        {{ mojButtonMenu({
          classes: "govuk-!-margin-bottom-6",
          button: { text: "Assess multiple items" },
          items: [
            { text: "Assess as disclosable", href: "#" },
            { text: "Assess as disclosable by inspection", href: "#" },
            { text: "Assess as clearly not disclosable", href: "#" },
            { text: "Assess as not disclosable", href: "#" },
            { text: "Assess as evidence", href: "#" },
            { text: "Dispute sensitivity", href: "#" },
            { text: "Change sensitivity dispute", href: "#" },
            { text: "Request material", href: "#" },
            { text: "Request updated description", href: "#" }
          ]
        }) }}

        {# <p class="govuk-body">
          <a class="govuk-link" href="/cases/{{ _case.id }}/disclosure/assess-non-sensitive/item-not-disclosable">DEBUG: Go to not disclosable page</a>
        </p> #}



        {# Row-level table lives entirely in the include #}
        {% include "_includes/case/disclosure/disclosure-table.njk" %}
      
    </div>
  </div>
{% endblock %}

{# No scripts block needed here – we’re not toggling header actions #}
