{% extends "layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}

{% set cm = caseMaterials or data.caseMaterials or {} %}

{# Resolved in the route and passed in #}
{% set selected = selectedRow or {} %}

{# -------------------------
   Defendants display value
   ------------------------- #}
{% set firstDefendant = (_case.defendants | first) %}

{% set defendantsValue %}
  {% if firstDefendant %}
    {{ firstDefendant.firstName }} {{ firstDefendant.lastName }}
    {% if _case.defendants.length > 1 %}
      and {{ _case.defendants.length - 1 }} more
    {% endif %}
  {% else %}
    {{ _case.reference }}
  {% endif %}
{% endset %}

{% set pageName = 'Request material' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: returnUrl or "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">{{ _case.reference }} - {{ defendantsValue }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {# {{ govukInsetText({
        text: "Your request will be sent to the police. They can update the item description."
      }) }} #}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-6",
        rows: [
          {
            key: { text: "Title" },
            value: { html: selected.title }
          },
          {
            key: { text: "Current description" },
            value: { html: (selected.description or "No description provided") }
          }
        ]
      }) }}

      <form method="post" action="/cases/{{ _case.id }}/disclosure/assess-non-sensitive/item-request-material">
        <input type="hidden" name="id" value="{{ selectedId }}">
        <input type="hidden" name="returnUrl" value="{{ returnUrl or '' }}">

        {{ govukTextarea({
          name: "requestMaterialReason",
          id: "request-material-reason",
          rows: 8,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Why do you need the material?  (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Placeholdert hint . Do we need hint text here?"
          }
        }) }}

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "material-needed-by",
          namePrefix: "materialNeededBy",
          classes: "govuk-!-margin-bottom-6",
          fieldset: {
            legend: {
              text: "When do you need the material by?  (Optional)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2024"
          }
        }) }}

       {{ govukButton({ text: "Save and confirm" }) }}
      </form>

    </div>
  </div>

{% endblock %}
