{% extends "layouts/main.html" %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}


{% set cm = caseMaterials or data.caseMaterials or {} %}


{# -------------------------
   Defendants display value
   ------------------------- #}
{% set firstDefendant = (_case.defendants | first) %}

{% set defendantsValue %}
  {% if firstDefendant %}
    {{ firstDefendant.firstName }} {{ firstDefendant.lastName }}
    {% if _case.defendants.length > 1 %}
      and {{ _case.defendants.length - 1 }} more
    {% endif %}
  {% else %}
    {{ _case.reference }}
  {% endif %}
{% endset %}

{% set pageName = 'Assess non-sensitive materials' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-margin-top-6",
    items: [
      {
        text: "Disclosure",
        href: "/cases/" ~ _case.id ~ "/material#disclosure"
      },
      {
        text: "Assess non-sensitive materials"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">{{ _case.reference }} - {{ defendantsValue }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% include "_includes/case/disclosure/disclosure-table.njk" %}
      
    </div>
  </div>
{% endblock %}

{# No scripts block needed here – we’re not toggling header actions #}
