{% extends "layouts/main.html" %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% set bodyClasses = "dcf-materials-wide" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'materials' %}

{# default if route forgot to pass it #}
{% set activeTab = activeTab or 'disclosure' %}

{# -------------------------
   Defendants display value
   ------------------------- #}
{% set firstDefendant = (_case.defendants | first) %}

{% set defendantsValue %}
  {% if firstDefendant %}
    {{ firstDefendant.firstName }} {{ firstDefendant.lastName }}
    {% if _case.defendants.length > 1 %}
      and {{ _case.defendants.length - 1 }} more
    {% endif %}
  {% else %}
    {{ _case.reference }}
  {% endif %}
{% endset %}

{% set pageName = defendantsValue %}

{% block beforeContent %}
  {# {% include "_includes/case/identity-bar.njk" %} #}
{% endblock %}

{% block content %}


  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/dcf-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">{{ _case.reference }} - {{ pageName }}</span>
      <h1 class="govuk-heading-m">{{ pageName }}</h1>

      {# {% include "_includes/case/disclosure/disclosure-task-list.njk" %} #}
      
    </div>
  </div>
{% endblock %}

{# No scripts block needed here – we’re not toggling header actions #}
