{# /cases/indictment/counts/date-and-charges #}

{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Select charge for count' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  {% include "_shared/_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m">{{_case.reference}} - {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
          {% if _case.defendants.length > 1 %}
            and {{_case.defendants.length - 1}} more
          {% endif %}
        </span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post" novalidate>
          <input type="hidden" name="returnTo" value="{{ query.returnTo or '' }}">


      {# =========================
        CHARGES
        ========================= #}

      {% set chargeSelectionItems = [] %}

      {# Existing selected charges first #}
      {% for c in (selectedChargeOptions or []) %}
        {% set chargeText %}
          {% if c.chargeCode %}
            {{ c.chargeCode }}: {{ c.description }}
          {% else %}
            {{ c.description }}
          {% endif %}
        {% endset %}

        {% set _ = chargeSelectionItems.push({
          value: (c.chargeCode | string),
          text: chargeText | trim,
          checked: (draftCount.countBasis != "newCount" and draftCount.primaryChargeCode and (c.chargeCode | string) == (draftCount.primaryChargeCode | string))
        }) %}
      {% endfor %}

      {# Divider + new count option #}
      {% set _ = chargeSelectionItems.push({ divider: "or" }) %}
      {% set _ = chargeSelectionItems.push({
        value: "newCount",
        text: "Add a new count",
        checked: draftCount.countBasis == "newCount"
      }) %}

      {{ govukRadios({
        name: "chargeSelection",
        fieldset: {
          legend: {
            text: "Select an existing charge",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: chargeSelectionItems
      }) }}


        {# =========================
           DATE TYPE (radio + conditional date inputs)
           ========================= #}

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Enter date information for charge</h2>

        {% set singleDateConditionalHtml %}
          <div class="govuk-!-padding-left-3 govuk-!-margin-top-2">
            {{ govukDateInput({
              id: "offence-date",
              namePrefix: "offence-date",
              fieldset: {
                legend: {
                  text: "Date",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                { classes: "govuk-input--width-2",
                  name: "day", value: (draftCount.offenceDate.day if draftCount.offenceDate else "") },
                { classes: "govuk-input--width-2",
                  name: "month", value: (draftCount.offenceDate.month if draftCount.offenceDate else "") },
                { classes: "govuk-input--width-4",
                  name: "year", value: (draftCount.offenceDate.year if draftCount.offenceDate else "") }
              ]
            }) }}
          </div>
        {% endset %}


        {% set rangeDateConditionalHtml %}
          <div class="govuk-!-padding-left-3 govuk-!-margin-top-2">
            {{ govukDateInput({
              id: "offence-date-from",
              namePrefix: "offence-date-from",
              fieldset: {
                legend: {
                  text: "Dates",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                { classes: "govuk-input--width-2",name: "day", value: (draftCount.offenceDateFrom.day if draftCount.offenceDateFrom else "") },
                { classes: "govuk-input--width-2",name: "month", value: (draftCount.offenceDateFrom.month if draftCount.offenceDateFrom else "") },
                { classes: "govuk-input--width-4",name: "year", value: (draftCount.offenceDateFrom.year if draftCount.offenceDateFrom else "") }
              ]
            }) }}

            <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-font-weight-bold">to</p>

            {{ govukDateInput({
              id: "offence-date-to",
              namePrefix: "offence-date-to",
              fieldset: {
                legend: {
                  text: "To date",
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                { classes: "govuk-input--width-2",name: "day", value: (draftCount.offenceDateTo.day if draftCount.offenceDateTo else "") },
                { classes: "govuk-input--width-2",name: "month", value: (draftCount.offenceDateTo.month if draftCount.offenceDateTo else "") },
                { classes: "govuk-input--width-4",name: "year", value: (draftCount.offenceDateTo.year if draftCount.offenceDateTo else "") }
              ]
            }) }}
          </div>
        {% endset %}

        {{ govukRadios({
          name: "dateType",
          items: [
            {
              value: "single",
              text: "Single Date",
              checked: draftCount.dateType == "single",
              conditional: { html: singleDateConditionalHtml }
            },
            {
              value: "range",
              text: "Date range",
              checked: draftCount.dateType == "range",
              conditional: { html: rangeDateConditionalHtml }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-top-6"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
