{# /cases/indictment/assign/defendants.html #}

{% extends "_shared/layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Select defendants for count' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  {% include "_shared/_includes/success-banner-safe.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">{{_case.reference}} - {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
          {% if _case.defendants.length > 1 %}
            and {{_case.defendants.length - 1}} more
          {% endif %}
        </span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Select all that apply</h2>

      <form method="post" novalidate>
        {% if returnTo %}
          <input type="hidden" name="returnTo" value="{{ returnTo }}">
        {% endif %}

        {% set defendantItems = [] %}

        {% for d in (_case.defendants or []) %}

          {% set did = d.id | string %}
          {% set fullName = ((d.firstName or "") + " " + (d.lastName or "")) | trim %}

          {% set isChecked = (draftCount.assignedDefendantIds and (did in draftCount.assignedDefendantIds)) %}

          {% set _ = defendantItems.push({
            value: did,
            text: fullName,
            checked: isChecked
          }) %}

        {% endfor %}

        {% if _case.defendants and _case.defendants.length %}
          {{ govukCheckboxes({
            name: "assignedDefendantIds",
            classes: "app-checkboxes--dividers",
            items: defendantItems
          }) }}
        {% else %}
          <p class="govuk-body">No defendants have been added to this case.</p>
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({
            text: "Save and continue",
            name: "action",
            value: "continue"
          }) }}

          {{ govukButton({
            text: "Save and exit",
            name: "action",
            value: "exit",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}