{# /cases/indictment/counts/added #}
{% extends "layouts/main.html" %}

{% set pageName = "Counts (" + (counts | length) + ")" %}
 
{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Indictments",
        href: "/cases/" + _case.id + "/indictment"
      },
      {
        text: "Counts"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {{ govukNotificationBanner({
      type: "success",
      titleText: "Success",
      html: "<p class='govuk-notification-banner__heading'>Draft count added to Indictment</p>"
    }) }}

      <span class="govuk-caption-m">Build indictment</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add another count",
          href: "/cases/" + _case.id + "/indictment/counts/date-and-charges"
        }) }}

        <a class="govuk-button govuk-button--secondary"
          href="/cases/{{ _case.id }}/indictment/preview"
          data-module="govuk-button">
          Preview indictment
        </a>

      </div>


      {% if counts and counts.length %}

        {% for c in counts %}

          {{ govukSummaryList({
            card: {
              title: {
                text: "Count " + loop.index
              },
              actions: {
                items: [
                  { href: "#", text: "Edit", visuallyHiddenText: "count" },
                  { href: "#", text: "Remove", visuallyHiddenText: "count" },
                  { href: "#", text: "Duplicate", visuallyHiddenText: "count" }
                ]
              }
            },
            rows: [
              {
                key: { text: "Statement of offence" },
                value: { html: c.statementOfOffenceText or "—" }
              },
              {
                key: { text: "Particulars of offence" },
                value: { html: c.particularsOfOffenceText or "—" }
              }
            ]
          }) }}

        {% endfor %}

      {% else %}
        <p class="govuk-body">No count has been added yet.</p>
      {% endif %}

    
    </div>
  </div>

{% endblock %}
