{# /cases/indictment/counts/date-and-charges.html #}

{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Charges and Date' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m">Indictment - Draft count</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post">

        {# Radios are the SAME items that appear on /indictment/index #}
        {% set radioItems = [] %}

        {% for c in chargeOptions %}

          {% set radioText %}
            {% if c.chargeCode %}
              {{ c.chargeCode }}: {{ c.label }}
            {% else %}
              {{ c.label }}
            {% endif %}
          {% endset %}

          {% set hintText %}
            {{ c.policeParticulars }}
          {% endset %}

          {% set _ = radioItems.push({
            value: c.policeChargeId,
            text: radioText | trim,
            hint: { text: hintText | trim },
            checked: draftCount.policeChargeId == c.policeChargeId
          }) %}

        {% endfor %}

        {# Add divider + manual option #}
        {% set _ = radioItems.push({ divider: "or" }) %}
        {% set _ = radioItems.push({
          value: "needEmptyCount",
          text: "Add new count",
          checked: draftCount.policeChargeId == "needEmptyCount"
        }) %}

        {{ govukRadios({
          name: "policeChargeId",
          fieldset: {
            legend: {
              text: "Select a police charge to base this count on",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: radioItems
        }) }}

        <div class="govuk-form-group govuk-!-margin-top-4">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Date offence committed
            </legend>

            <div class="govuk-date-range">
              <div class="govuk-date-range__item">
                {{ govukDateInput({
                  id: "date-of-offence-from",
                  namePrefix: "date-of-offence-from",
                  fieldset: {
                    legend: {
                      text: "From date",
                      classes: "govuk-visually-hidden"
                    }
                  }
                }) }}
              </div>

              <p class="govuk-date-range__and govuk-body">and</p>

              <div class="govuk-date-range__item">
                {{ govukDateInput({
                  id: "date-of-offence-to",
                  namePrefix: "date-of-offence-to",
                  fieldset: {
                    legend: {
                      text: "To date",
                      classes: "govuk-visually-hidden"
                    }
                  }
                }) }}
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-6"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}