{# /cases/counts/date-and-charges.html #}

{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Date of offence' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {# {% include "_includes/case/dcf-navigation.njk" %} #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m">Indictment - Draft count</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h3 class="govuk-heading-m">Date of offence between</h3>

      <form method="post">

        {{ govukDateInput({
          id: "date-of-offence-from",
          namePrefix: "date-of-offence-from",
          fieldset: {
            legend: {
              text: "Offence committed from",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l govuk-visually-hidden"
            }
          }
        }) }}

        <p class="govuk-body">and</p>

        {{ govukDateInput({
          id: "date-of-offence-to",
          namePrefix: "date-of-offence-to",
          fieldset: {
            legend: {
              text: "Offence comitted to",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l govuk-visually-hidden"
            }
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-6"
        }) }}
      </form>

    </div>
  </div>
    
     
{% endblock %}