{# /cases/indictment/counts/precedent-charges-and-offence.html #}

{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Precedent charges or offence' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% set html %}
        <p class="govuk-notification-banner__heading">
          ** Example testing try searches on: R01, ABH, Theft Act 1968, section 8, robbery, assault, zebra ***
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}

      <span class="govuk-caption-m">Indictment - Draft count</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {# Search form submits query + category #}
      {% include "_includes/case/indictment/search-form.njk" %}


      {# Results render underneath #}
      <form method="post" action="/cases/{{ _case.id }}/indictment/counts/precedent-charges-or-offence/continue">
        {% include "_includes/case/indictment/search-results.njk" %}
        {{ govukButton({ text: "Add and continue",
          classes: "govuk-!-margin-top-4" }) }}
      </form>

    </div>
  </div>
{% endblock %}