{# /cases/indictment/assign/defendants.html #}

{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Assign defendants' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">Indictment - Draft count</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Select all defendants that apply to this count</h2>

      <form method="post" novalidate>
        {% if returnTo %}
          <input type="hidden" name="returnTo" value="{{ returnTo }}">
        {% endif %}

        {% set defendantItems = [] %}

        {% for d in (_case.defendants or []) %}

          {% set did = d.id | string %}
          {% set fullName = ((d.firstName or "") + " " + (d.lastName or "")) | trim %}

          {# Checked state from session (string-safe) #}
          {% set isChecked = (draftCount.assignedDefendantIds and (did in draftCount.assignedDefendantIds)) %}

          {% set _ = defendantItems.push({
            value: did,
            text: fullName,
            checked: isChecked
          }) %}

        {% endfor %}

        {% if _case.defendants and _case.defendants.length %}
          {{ govukCheckboxes({
            name: "assignedDefendantIds",
            classes: "app-checkboxes--dividers",
            items: defendantItems
          }) }}
        {% else %}
          <p class="govuk-body">No defendants have been added to this case.</p>
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Save and continue" }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
