{# /cases/indictment/assign/victims.html #}
{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'indictment' %}
{% set pageName = 'Assign victims' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">Indictment - Draft count</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Select all victims that apply to this count</h2>

      <form method="post" novalidate>
        {% if returnTo %}
          <input type="hidden" name="returnTo" value="{{ returnTo }}">
        {% endif %}

        {% set victimItems = [] %}

        {% for v in (_case.victims or []) %}

          {% set vid = v.id | string %}

          {% set fullName = ((v.firstName or "") + " " + (v.lastName or "")) | trim %}
          {% if not fullName %}
            {% set fullName = "Victim " + loop.index %}
          {% endif %}

          {# Checked state from session (string-safe) #}
          {% set isChecked = (draftCount.assignedVictimIds and (vid in draftCount.assignedVictimIds)) %}

          {% set _ = victimItems.push({
            value: vid,
            text: fullName,
            checked: isChecked
          }) %}

        {% endfor %}

        {% if _case.victims and _case.victims.length %}
          {{ govukCheckboxes({
            name: "assignedVictimIds",
            classes: "app-checkboxes--dividers",
            items: victimItems
          }) }}
        {% else %}
          <p class="govuk-body">No victims have been added to this case.</p>
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Save and continue" }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
