{# _includes/case/details/monitoring-panel.njk #}

{# Allow the route to pass in codes; fall back to placeholder data #}
{% set monitoringCodes = monitoringCodes or {
  global: [
    "Disability hate crime",
    "Crime against an older person",
    "Corona virus offences"
  ],
  local: [
    "Proceeds of crime statistics",
    "Murder"
  ]
} %}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Monitoring codes
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Add</a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove</a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    {% if (monitoringCodes.global and monitoringCodes.global | length)
          or (monitoringCodes.local and monitoringCodes.local | length) %}

      <div class="case-monitoring-codes">
        {% if monitoringCodes.global and monitoringCodes.global | length %}
          <h3 class="govuk-heading-s case-monitoring-heading">
            Global codes
          </h3>
          <ul class="case-monitoring-list">
            {% for code in monitoringCodes.global %}
              <li class="case-monitoring-item">
                {{ code }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if monitoringCodes.local and monitoringCodes.local | length %}
          <h3 class="govuk-heading-s case-monitoring-heading">
            Local codes
          </h3>
          <ul class="case-monitoring-list case-monitoring-list--last">
            {% for code in monitoringCodes.local %}
              <li class="case-monitoring-item">
                {{ code }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    {% else %}
      <p class="govuk-body-s govuk-!-margin-bottom-0">
        No monitoring codes have been added for this case.
      </p>
    {% endif %}
  </div>
</div>
