{% extends "_shared/layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      Choose which version of the prototype you want to view.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="/set-version?v=v1">Version 1</a>
      </li>
      <li>
        <a class="govuk-link" href="/set-version?v=v2">Version 2</a>
      </li>
    </ul>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
{# <a href="/set-version?v=v1">Version 1</a>
<a href="/set-version?v=v2">Version 2</a> #}
